<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reactnativenavigation">

    <application>
        <activity
            android:name="com.reactnativenavigation.activities.TabActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />
        <activity
            android:name="com.reactnativenavigation.activities.SingleScreenActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />
    </application>

</manifest>
